In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

/anaconda3/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [2]:
df = pd.read_csv('super_category.csv')

In [3]:
df.head()

,Rank,Cafés,Carnes,HortiFruti,Bebidas,Massas,Refrigerados,Padaria,Não-Alimentos
0,2,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
1,3,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,5,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
4,6,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

In [4]:
X = df.loc[:, df.columns != 'Rank']
y = df[["Rank"]]

In [5]:
from sklearn.linear_model import LinearRegression

In [6]:
lr = LinearRegression()

In [7]:
lr.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [8]:
a = X.columns.tolist()
b = lr.coef_.tolist()[0]

In [9]:
coefs = pd.DataFrame({'Preditores': a, 'Coefficients': b})

In [10]:
coefs

      Preditores  Coefficients
0          Cafés     -5.997189
1         Carnes      0.002811
2     HortiFruti      6.002811
3        Bebidas     -1.688229
4         Massas      1.311771
5   Refrigerados     -0.026443
6        Padaria      0.973557
7  Não-Alimentos     -1.026443

In [11]:
coefs.sort_values(by=['Coefficients'], ascending=False)

      Preditores  Coefficients
2     HortiFruti      6.002811
4         Massas      1.311771
6        Padaria      0.973557
1         Carnes      0.002811
5   Refrigerados     -0.026443
7  Não-Alimentos     -1.026443
3        Bebidas     -1.688229
0          Cafés     -5.997189

In [12]:
highest_coef = coefs.nlargest(3, 'Coefficients')

In [13]:
raw = highest_coef.Coefficients.values.tolist()

In [14]:
highest_coef["Coeff_Normal"] = [float(i)/sum(raw) for i in raw]

In [15]:
highest_coef

   Preditores  Coefficients  Coeff_Normal
2  HortiFruti      6.002811      0.724265
4      Massas      1.311771      0.158271
6     Padaria      0.973557      0.117464