In [2]:
import datetime
numdays = 10
base = datetime.datetime.today()
date_list = [base - datetime.timedelta(days=x) for x in range(0, numdays)]

In [3]:
date_list.

[datetime.datetime(2018, 6, 28, 15, 43, 23, 976685),
 datetime.datetime(2018, 6, 27, 15, 43, 23, 976685),
 datetime.datetime(2018, 6, 26, 15, 43, 23, 976685),
 datetime.datetime(2018, 6, 25, 15, 43, 23, 976685),
 datetime.datetime(2018, 6, 24, 15, 43, 23, 976685),
 datetime.datetime(2018, 6, 23, 15, 43, 23, 976685),
 datetime.datetime(2018, 6, 22, 15, 43, 23, 976685),
 datetime.datetime(2018, 6, 21, 15, 43, 23, 976685),
 datetime.datetime(2018, 6, 20, 15, 43, 23, 976685),
 datetime.datetime(2018, 6, 19, 15, 43, 23, 976685)]

In [9]:
import pandas as pd
datelist = pd.date_range(pd.date.today(), periods=10).tolist()

AttributeError: module 'pandas' has no attribute 'date'

In [8]:
datelist[0]

Timestamp('2018-06-28 15:44:52.344288', freq='D')

In [5]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

date_today = datetime.now()
days = pd.date_range(date_today, date_today + timedelta(9), freq='D')

np.random.seed(seed=1111)
data = {'day': days.day, 'month': days.month, 'year': days.year,'hours': days.hour, 'minutes': days.minute}
#df = pd.DataFrame({'day': days.day, 'month': days.month, 'year': days.year,'hours': days.hour, 'minutes': days.minute})
#df = df.set_index('timestamp')
#df
data

{'day': Int64Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], dtype='int64'),
 'hours': Int64Index([19, 19, 19, 19, 19, 19, 19, 19, 19, 19], dtype='int64'),
 'minutes': Int64Index([16, 16, 16, 16, 16, 16, 16, 16, 16, 16], dtype='int64'),
 'month': Int64Index([7, 7, 7, 7, 7, 7, 7, 7, 7, 7], dtype='int64'),
 'year': Int64Index([2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018], dtype='int64')}

In [9]:
from weather import Weather, Unit
from datetime import datetime, timedelta
import pandas as pd
import numpy as np

date_today = datetime.now()
days = pd.date_range(date_today, date_today + timedelta(9), freq='D')

np.random.seed(seed=1111)
#data = {'day': days.day, 'month': days.month, 'year': days.year,'hours': days.hour, 'minutes': days.minute}


weather = Weather(unit=Unit.CELSIUS)

location = weather.lookup_by_location('rio de janeiro')
forecasts = location.forecast
weather = [forecast.text for forecast in forecasts]
minima = [forecast.low for forecast in forecasts]
maxima = [forecast.high for forecast in forecasts]
tempo = {'forecast': weather, 'minima': minima, 
         'maxima': maxima, 'day': days.day, 
         'month': days.month, 'year': days.year,
         'hours': days.hour, 'minutes': days.minute}
tempo
#data = pd.DataFrame(data=weather, columns=['forecast'])


#data
#weather = []
#for forecast in forecasts:
#    df['weather'] = forecast.text
    

#weather.append(forecast.text)
#print(weather)
#for forecast in forecasts:
#    print(forecast.text)
#    print(forecast.date)
#    print(forecast.high)
#    print(forecast.low)

{'day': Int64Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], dtype='int64'),
 'forecast': ['Sunny',
  'Sunny',
  'Sunny',
  'Partly Cloudy',
  'Mostly Sunny',
  'Partly Cloudy',
  'Mostly Sunny',
  'Partly Cloudy',
  'Partly Cloudy',
  'Rain'],
 'hours': Int64Index([19, 19, 19, 19, 19, 19, 19, 19, 19, 19], dtype='int64'),
 'maxima': ['22', '23', '26', '22', '22', '21', '22', '25', '25', '21'],
 'minima': ['21', '19', '21', '21', '20', '21', '21', '20', '21', '20'],
 'minutes': Int64Index([39, 39, 39, 39, 39, 39, 39, 39, 39, 39], dtype='int64'),
 'month': Int64Index([7, 7, 7, 7, 7, 7, 7, 7, 7, 7], dtype='int64'),
 'year': Int64Index([2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018], dtype='int64')}

In [32]:
z = {**data, **tempo}

In [33]:
z

{'day': Int64Index([28, 29, 30, 1, 2, 3, 4, 5, 6, 7], dtype='int64'),
 'forecast': ['Thunderstorms',
  'Thunderstorms',
  'Showers',
  'Mostly Sunny',
  'Scattered Thunderstorms',
  'Showers',
  'Scattered Thunderstorms',
  'Rain',
  'Partly Cloudy',
  'Partly Cloudy'],
 'hours': Int64Index([16, 16, 16, 16, 16, 16, 16, 16, 16, 16], dtype='int64'),
 'maxima': ['20', '21', '21', '23', '23', '15', '12', '13', '21', '22'],
 'minima': ['13', '15', '11', '12', '15', '8', '7', '9', '11', '13'],
 'minutes': Int64Index([31, 31, 31, 31, 31, 31, 31, 31, 31, 31], dtype='int64'),
 'month': Int64Index([6, 6, 6, 7, 7, 7, 7, 7, 7, 7], dtype='int64'),
 'year': Int64Index([2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018, 2018], dtype='int64')}

In [23]:
df

   day  month  year  hours  minutes        weather
0   28      6  2018     16        0  Partly Cloudy
1   29      6  2018     16        0  Partly Cloudy
2   30      6  2018     16        0  Partly Cloudy
3    1      7  2018     16        0  Partly Cloudy
4    2      7  2018     16        0  Partly Cloudy
5    3      7  2018     16        0  Partly Cloudy
6    4      7  2018     16        0  Partly Cloudy
7    5      7  2018     16        0  Partly Cloudy

In [13]:
print(date_today)

2018-06-28 15:49:12.289886

In [14]:
print(date_today.time)

<built-in method time of datetime.datetime object at 0x10fb4aaa8>